@font-face {
    font-family: "figtree";
    src: url("../../fonts/Figtree/Figtree-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "cinzel";
    src: url("../../fonts/Cinzel/Cinzel-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "poppins";
    src: url("../../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 600;
    font-size: normal;
}
@font-face {
    font-family: "poppins-semibold";
    src: url("../../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: bold;
    font-size: normal;
}
@font-face {
    font-family: "poppins-bold";
    src: url("../../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-size: normal;
}

:root {
    --gray: #dadedf;
    --medium-gray: #E6EAEB;
    --light-gray: #f3f4f5;

    --green: #32c096;
    --light-green: #2cc86e;

    --black: #0f3e4a;

    --purple: #9376e8;

    --red: #ea5681;

    --yellow: #ffc14a;
}

.full-screen {
    width: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page-header {
    height: 80px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-bottom: 1px solid #f4f9fb;
    color: var(--black);

    position: fixed;
    top: 0;
    left: 0;

    opacity: 1;
    transition: opacity 0.3s ease-in-out;

    z-index: 10;
}

.landing-page-header.hidden {
    pointer-events: none;
    opacity: 0;
}

.landing-page-header.visible {
    pointer-events: auto;
    opacity: 1;
}

.landing-page-header-logo-div {
    width: 30%;
    display: flex;
    background-color: transparent;
    justify-content: start;
    align-items: center;
}

.logo-name {

    font-family: figtree;
    font-size: larger;
    font-weight: bold;
    color: var(--green);
}

.landing-page-header-button-div {
    width: 35%;
    display: flex;
    justify-content: center;
}

.landing-page-header-button {
    
    transition: 0.3s;
    background-color: transparent;
    margin: 10px;
    color: var(--black);

    font-family: poppins;
    font-size: 15px;
}
.landing-page-header-button:hover{
    background-color: transparent;
    color: var(--green);
}

.landing-page-header-getStarted {

    width: 25%;
    display: flex;

    justify-content: end;
    align-items: center;
}

.landing-page-header-getStarted-login {
    margin: 10px;
    font-family: poppins-semibold;
    font-size: 15px;
    color: var(--black);

    background-color: transparent;
    border-radius: 9999px;

    transition: 0.3s;
}
.landing-page-header-getStarted-login:hover {
    background-color: var(--light-gray);
}

.landing-page-header-getStarted-signup {
    margin: 10px;
    font-family: poppins-semibold;
    font-size: 15px;

    background-color: var(--green);
    border: 2px solid transparent;
    border-radius: 9999px;

    transition: 0.3s;
}
.landing-page-header-getStarted-signup:hover {
    background-color: transparent;
    border: 2px solid var(--green);
    color: var(--green);
}

.landing-page-intro {

    margin-top: 130px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-intro-text {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.landing-page-intro-h {
    font-family: poppins-bold;
    color: var(--black);
    font-size: 65px;
    text-align: center;
    line-height: 1.2;
}
.landing-page-intro-h strong {
    color: var(--green);
}

.landing-page-intro-p {
    margin: 15px;
    margin-bottom: 7rem;
    color: var(--black);
    font-family: poppins;
    font-size: larger;
}

.landing-page-intro-pin {
    margin-top: 6rem;
    margin-bottom: 2rem;
    color: var(--black);
}

.landing-page-intro-button-login {

    margin: 0px 10px;
    font-family: poppins-semibold;
    font-size: 20px;
    color: var(--black);
    padding: 25px;

    background-color: transparent;
    border-radius: 9999px;

    transition: 0.3s;
}
.landing-page-intro-button-login:hover {
    background-color: transparent;
    color: var(--green);
}

.landing-page-intro-button-signup {

    margin: 0px 10px;
    font-family: poppins-semibold;
    font-size: 20px;
    padding: 25px;

    background-color: var(--green);
    border: 2px solid transparent;
    border-radius: 9999px;

    transition: 0.3s;
}
.landing-page-intro-button-signup:hover {
    background-color: transparent;
    border: 2px solid var(--green);
    color: var(--green);
}


.landing-page-show {
    height: 700px;
    width: 66%;
    border: 1px solid var(--light-gray);
    border-radius: 26px;
    box-shadow: 0 0 35px 0 var(--medium-gray);
    margin: 150px;
    display: flex;
    justify-content: space-between;
}

.div1 {
    height: 100%;
    width: 50%;
    background-color: var(--green);

    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}
.div2 {
    height: 100%;
    width: 50%;
    background-color: var(--medium-gray);

    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}